@using FitLog.Areas.Tracker.ViewModels.Home
@model List<IndexViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Tracker Records</h2>

<div class="mb-3 d-flex justify-content-end">
    <button class="btn btn-primary" 
            data-modal-url="@Url.Action("ImportModal", "Home", new { area = "Tracker" })">
        <i class="bi bi-upload"></i> Import
    </button>
</div>

<div id="table-container">
    @await Html.PartialAsync("_List", Model)
</div>
